<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <title>SIS-REST - Nuestros Platos</title>
        <link rel="stylesheet" type="text/css" href="../../../resources/css/los_patos.min.css" />
        <link rel="stylesheet" type="text/css" href="../../../resources/css/dashborad.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    </head>
    <body>
        <div data-role="page" id="nuestrosPlatos" data-theme="a">
            <div data-role="header">
                <a href="../../../index.php" data-icon="home">Home</a>
                <h1>Nuestros Platos</h1>
            </div>
            <div data-role="content">
                <ul data-role="listview" data-inset="true">
                    <li><a href="ray.html"><img src="img/ray.png">Raymond Camden <span class="ui-li-count">9</span></a></li>
                    <li><a href="scott.html"><img src="img/scott.png">Scott Stroz</a></li>
                    <li><a href="todd.html"><img src="img/todd.png">Todd Sharp</a></li>
                    <li><a href="dave.html"><img src="img/dave.png">Dave Ferguson</a></li>
                </ul>
            </div>
            <div data-role="footer" data-position="fixed" data-fullscreen="true">
                <h4>Copyright SIS-REST &copy; 2014</h4>
            </div>
        </div>
    </body>
</html>